@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
.bg-image {
  /* The image used */

  /* Add the blur effect */
  filter: grayscale(100%);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background:linear-gradient(to right, #000 30%, transparent 70%) ; */
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 60%;
  padding: 20px;
  text-align: center;
}
.outer
{

display: flex;
flex-direction: row;
height: 80vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


.left
{
display: flex;
width: 60%;
padding: 3%;
flex-direction: column;
  z-index: 1;
  backdrop-filter: blur(14px);
  color: white;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  justify-content: flex-end;
}

.left h1
{
font-family: 'Cinzel', serif;
font-weight: 800;
font-size: 4.5vh;
color: white;
padding: 1%;
}
.left h2
{
font-family: 'Work Sans', sans-serif;
font-weight:200;
font-size: large;
line-height: 1.6;
}

.right
{
display: flex;
width: 45%;
box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
z-index: 1;
backdrop-filter: blur(18px);
}

.right img
{
width: 100%;
object-fit: cover;
}


/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: grey;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.trailer-button
{
font-family: 'Work Sans', sans-serif;
background-color: transparent;
color: white;
border-radius: 20px; 
padding: 10px;
margin: 1%;
border: 2px solid white;
width: 20%;
transition: .2s ease-in-out;
}

.trailer-button:hover
{
cursor: pointer;
background-color: #44C8B6 ;
color: black;
font-weight: bold;
border: 2px solid black;

}
