
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
/* Container holding the image and the text */
.container {
background-color: black;
  position: relative;
  text-align: right;
  color: white;
  box-shadow: -93px -111px 43px 13px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: -93px -111px 43px 13px rgba(0,0,0,0.75) inset;
-moz-box-shadow: -93px -111px 43px 13px rgba(0,0,0,0.75) inset;
}

/* Bottom left text */
.bottom-left {
width: 60%;
  text-align: left;
  position: absolute;
  bottom: 8px;
  left: 16px;
  text-shadow: 2px 2px 15px black;
}



img
{
height: 80vh;
width: 50%;
object-fit: cover;
object-position: 0% 50%;
}

.down
{
background-color: black;
font-family: 'Carter One', cursive;
color: red;
text-align: center;
font-size: 5vh;
}

h1
{
font-family: 'Montserrat Subrayada', sans-serif;
color: red;
font-size: 10vh;
text-shadow: 2px 2px 8px black;
}
